[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
numpy = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.9"
