{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CoronaScraper</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="height: 60px;background: var(--bs-gray-600);">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'index' %}">Corona Tracker</a></div>
        <a class="btn btn-primary" type="button" style="margin-right: 35px;" href="{% url 'download' %}">Download</a>
    </nav>
    <div class="container" style="margin-top: 16px;padding: 0px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Germany</h4>
                        <h5 class="text-center">Total Infections</h5>
                        {{plot.Germany.total_infections.div|safe}}
                        <br>
                        <h5 class="text-center">Total Deaths</h5>
                        {{plot.Germany.total_deaths.div|safe}}
                        <br>
                        <h5 class="text-center">7-Day Incidence</h5>
                        {{plot.Germany.incidence.div|safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Austria</h4>
                        <h5 class="text-center">Total Infections</h5>
                        {{plot.Austria.total_infections.div|safe}}
                        <br>
                        <h5 class="text-center">Total Deaths</h5>
                        {{plot.Austria.total_deaths.div|safe}}
                        <br>
                        <h5 class="text-center">7-Day Incidence</h5>
                        {{plot.Austria.incidence.div|safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center card-title">Switzerland</h4>
                        <h5 class="text-center">Total Infections</h5>
                        {{plot.Switzerland.total_infections.div|safe}}
                        <br>
                        <h5 class="text-center">Total Deaths</h5>
                        {{plot.Switzerland.total_deaths.div|safe}}
                        <br>
                        <h5 class="text-center">7-Day Incidence</h5>
                        {{plot.Switzerland.incidence.div|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% for country, datatypes in plot.items %}
    {% for datatype, data in datatypes.items %}
    <p>{{data.script|safe}}</p>
    
    {% endfor %}
    {% endfor %}

</body>

</html>